body {
    border-style: solid;
    border-color: gray;
}

h1 {
    background-color: blue;
    color: white;
    margin-top: 0%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.todo-item h2 {
    color: darkblue;
    margin: 0%;
}
.todo-item small {
    color: darkblue;
    margin: 0%;
    font-size: 16px;
    
}
.todo-item button {
    float: right;
    margin-right: 10%;
    font-size: 40px;
    color: red;
    width: 5px;
    padding: 2px;
    border: none;
    background-color: bisque;

}
.todo-item {
    background-color: bisque;
    padding-left: 5%;
    border: grey solid 2px;
    margin: 10px;
    border-radius: 25px 25px 25px;
}
.addSect {
    background-color: blue;
}
.addSect input {
    height: 30px;
    width: 400px;
    margin: 5px;
    border-radius: 5px 5px 5px;
}
.addSect button {
    margin-left: 20px;
}
.remove-to-do {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    font-family: sans-serif;
    color: red;
    text-decoration: none;
    text-align: right;
    padding: 0px 5px 8px 0px;
    border-radius: 50%;
    transition: background 1s;
    cursor: pointer;
  }
  
  .remove-to-do:hover {
    background: rgb(139, 97, 93);
    color: #fff;
  }
